<form (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6 my-3">
      <input type="text" class="form-control" [(ngModel)]="subject" name="subject" placeholder="Subject">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 my-3">
      <input type="email" class="form-control" [(ngModel)]="body" name="body" placeholder="Body">
    </div>
  </div>
  <form (submit)="onSubmit()">
    <input [(ngModel)]="timestamp" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="date">
    <owl-date-time #dt></owl-date-time>
  </form>
  {{timestamp}}
  <br>
  <button type="submit" class="btn btn-success">Save</button>
</form>
