<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Recipient</th>
    <th scope="col">Subject</th>
    <th scope="col">Body</th>
    <th scope="col">Timestamp</th>
    <th scope="col">Inviter Email</th>
    <th scope="col">Feedback</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let schedule of schedules">
    <td>{{schedule.schedule.email}}</td>
    <td>{{schedule.schedule.subject}}</td>
    <td>{{schedule.schedule.body}}</td>
    <td>{{schedule.schedule.timestamp}}</td>
    <td>{{schedule.connect.inviterEmail}}</td>
    <td>{{schedule.connect.feedback}}</td>
    <td>
      <div class="d-grid gap-2 d-md-flex" >
        <button type="button" class="btn btn-danger" (click)="deleteSchedule(schedule.schedule.key)">Delete</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success" (click)="giveFeedback(schedule)">Feedback</button>
      </div>
    </td>
    <div>
      <mat-form-field *ngIf="form">
        <input placeholder="Feedback" [(ngModel)]="feedback">
      </mat-form-field>
    </div>
  </tr>
  </tbody>
</table>
